@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; 
}

/* Matrix Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #00ff00; 
  border-radius: 2px;
}

.cyber-neoneffect {
    box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

.text-glow {
    text-shadow: 0 0 5px currentColor;
}
